


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');





.md {
  --f7-font-family: 'Poppins', sans-serif;
}

#fix-f7 {
  height: 50px;
}

img {
  max-width: 100%;
}

.title-navbar-transparent {
  opacity: 1!important;
}

.md .tabbar-label {
    font-size: 10px;
    padding-top: 3px;
}

.newsman-object-fit {
  position: relative;
}

.newsman-object-fit img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.text-semibold {
  font-weight: 600;
}

.newsman-notification {
  position: relative;
}

.newsman-notification .badge {
  position: absolute;
  right: 11px;
  top: 10px;
}

.newsman-page-gradient,
.not-found-page-gradient,
.profile-page-gradient {
  background: linear-gradient(to bottom, rgba(18, 8, 16, 0), #120810);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  z-index: 2;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  opacity: .6;
}

.homepage-header .navbar,
.newsman-block * {
  z-index: 3;
}

.homepage-header {
  position: relative;
}

.newsman-opacity {
  opacity: .6;
}

.newsman-block {
  padding-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left));
  padding-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  padding-bottom: 20px;
  margin-top: 20px;
}

.newsman-block.no-border {
  border-bottom: 0px;
}

.newsman-badge a {
  font-size: 11px;
  font-weight: 600;
  padding: 5px 10px;
}

.newsman-block-subtitle {
  font-weight: 600;
  margin-top: 3px!important;
}

.newsman-block-content {
  padding-top: 30px;
}

.post-author-extra {
  opacity: .8;
}





.post-full-bg {
  position: relative;
}

.post-full-bg .fab > a {
  width: 45px;
  height: 45px;
  background: #e3bf54
}

.post-full-bg .fab > a svg {
  stroke : #202020
}

.post-full-bg .post-content {
  height: 450px;
  background: #1c1c1d;
  border-radius: 10px;
}

.post-author-img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  flex-shrink: 0;
}

.post-author-img img {
  border-radius: 5px;
}

.post-full-bg .post-content img,
.post-full-bg .post-content {
    border-radius: 10px;
}


.post-content .post-title {
  z-index: 14;
  padding: 20% 20px 20px 20px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0.9) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}





.author-card-img {
  height: 150px;
  border-radius: 10px;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: right bottom!important;
}

.author-card-img .badge {
  opacity: .7;
}





.blog-list {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.blog-list:first-child {
  margin-top: 0px;
}

.blog-list:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.blog-list-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.blog-list-img img {
  border-radius: 10px;
}

.blog-list-infos {
  width: 100%;
}

.blog-list-infos h2 {
  font-size: 16px;
  line-height: 24px;
}

.blog-list-infos span {
  font-weight: bold;
  opacity: .86;
}

@media only screen and (min-width: 576px) {
  .blog-list-img {
    width: 150px;
    height: 150px;
  }

  .blog-list-wrapper .blog-list-infos h2 {
    font-size: 18px;
    line-height: 30px;
  }

}

@media only screen and (min-width: 768px) {
  .blog-list-img {
    width: 160px;
    height: 160px;
  }

  .blog-list-wrapper .blog-list-infos h2 {
    font-size: 20px;
    line-height: 32px;
  }
}





.masonry-item {
  border-radius: 10px;
  position: relative;
}

.masonry-item img {
  border-radius: 10px;
}

.masonry-item .post-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 10px;
  font-size: 10px;
  line-height: 20px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0.9) 100%);
}
.masonry-item-single-element .post-title {
  font-size: 14px;
  line-height: 32px;
}





.post-card {
  border-radius: 10px;
}

.post-card-img {
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.post-card-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-card-footer {
  color: #8e8e93;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post-card-img h3 {
  z-index: 14px;
  padding: 0px 15px 15px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0.9) 100%);
  z-index: 14;
  margin: 0px;
}





.big-list-post p {
  color: #8e8e93;
}

.big-list-post img {
  border-radius: 10px;
}

.big-list-post h3 {
  font-size: 18px;
}






.social-media-trends .post-author-img {
  width:65px;
  height: 65px;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}

.social-media-trends > div {
  background-color: var(--f7-block-strong-bg-color);
  border-radius: 10px;
  position: relative;
}

.social-media-trends p {
  color: #8e8e93;
}

.post-author-social {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  line-height: 20px;
}

.social-icon {
  text-align: center;
  line-height: 20px;
  padding: 11px 0;
  width: 18px;
  height: 18px;
}

.bg-color-twitter {
  background: #55acee!important;
}

.bg-color-fb {
  background: #3b5999!important;
}

.bg-color-linkedin {
  background: #0077B5!important;
}






.newsman-search {
  position: relative;
}

.newsman-search svg {
  position: absolute;
  left: 10px;
  top: 16px;
  z-index: 4;
}

.input {
  padding: 16px 50px 16px!important;
  width: 100%;
  border-radius: 30px!important;
  background-color: var(--f7-block-strong-bg-color)!important;
}

.tags {
  flex-wrap: wrap;
  margin-top: 22px;
}

.tags .newsman-badge {
  margin-top: 10px;
  margin-right: 10px;
}

.tags .newsman-badge a {
    font-size: 12px;
    padding: 15px 30px;
}





.list-posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.post-grid-img {
  height: 200px;
  border-radius: 10px;
}

.post-grid-img img {
  border-radius: 10px;
}

@media only screen and (min-width: 320px) {
  .list-posts-grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0px;
  }
}

@media only screen and (min-width: 360px) {
  .list-posts-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media only screen and (min-width: 384px) {
  .list-posts-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media only screen and (min-width: 414px) {
  .list-posts-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

@media only screen and (min-width: 576px) {
  .list-posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .list-posts-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 834px) {
  .list-posts-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}





.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 auto;
}

.profile-img img {
  border-radius: 10px;
}

.profile h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px
}

.profile .button {
  width: auto;
  margin: 0 auto;
  border-width: 1px
}

.profile-info {
  text-align: center;
}

.profile-info .number {
  font-size: 20px;
  display: block;
  font-weight: 600;
}

.profile-info .number-sub {
  font-size: 16px;
  color: #8e8e93;
}

.list-friends .post-author-img {
  width:65px;
  height: 65px;
  position: relative;
  margin-top: 10px;
}

.list-friends > div {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  margin-left: 0;
}

.list-friends > div:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.blog-list-wrapper .blog-list:last-child {
  border-bottom: 0px;
}





.single-page > img {
  border-radius: 10px;
}

.single-post-content {
  font-size: 15px;
  color: #8e8e93;
}

.single-post-content ol,
.single-post-content ul {
  padding-left: 16px;
}

.single-post-content img {
  border-radius: 10px;
}

.img-with-legend img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.img-with-legend div {
  background-color: var(--f7-block-strong-bg-color)!important;
  text-align: center;
  position: relative;
  bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}





.not-found-page-gradient {
  background-color: rgb(41,35,109);
}

.not-found-page-content {
  z-index: 4;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.not-found-page-content img {
  width: 80%;
  display: block;
  margin: 32px auto;
}

.not-found-page-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0px
}

.not-found-page-content h2 {
  margin-bottom: 10px;
  margin-top: 0px
}


.not-found-page-content .button {
  width: auto;
  margin: 0 auto;
  border-width: 1px;
  font-weight: 600;
}

.profile-page-gradient {
  background-color: #673ab7;
}





.big-list-single-post {
  border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.big-list-post > div:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.big-list-single-post p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.big-list-single-post {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
