<div class="page">
  <div class="page-content">
    <div class="not-found-page-gradient">
    </div>
    <div class="not-found-page-content margin-top padding-top">
      <img src="./images/404.png" alt="404">
      <h1>404</h1>
      <h2>Look like you're lost in space</h2>
      <p class="text-color-gray margin-left margin-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a href="#" class="link back col display-inline-block button button-fill color-yellow text-color-black padding-left padding-right">Back to earth</a>
    </div>
    
    <div id="fix-f7">
    </div>
    
  </div>
</div>