<div class="page page-blog-one">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Blog Classic Grid</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="big-list-post">
          <img src="./images/17.jpg" alt="bp1">
          <div class="margin-top">
            <div class="newsman-badge">
              <a href="#" class="badge color-red text-color-white">Health news</a>
            </div>
            <h3><a href="/single/">Tricks to Get Things Done Faster, Better, and More Easily</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.</p>
            <div class="blog-list-wrapper margin-top padding-top">
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/15.jpg" alt="bl0">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-green text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/14.jpg" alt="bl00">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-deeporange text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/09.jpg" alt="bl1">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-purple text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/10.jpg" alt="bl2">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-lightblue text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/">This piece is about turning a negative into positive.</a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/11.jpg" alt="bl2">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-teal text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>