<div class="page page-blog-two">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Grid Blog</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="list-posts-grid">
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/22.jpg" alt="g1">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/23.jpg" alt="g2">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">This piece is about turning a negative into positive. Long title than ever</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/15.jpg" alt="g3">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">This piece is about turning a negative into positive. Long title than ever</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/02.jpg" alt="g4">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Corfu is absolutely romantic and calm in the evenings, especially next to the...</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/14.jpg" alt="g5">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Corfu is absolutely romantic and calm in the evenings, especially next to the...</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/17.jpg" alt="g5">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Corfu is absolutely romantic and calm in the evenings, especially next to the...</a>
              </h2>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>