<div class="page" data-name="page-blog-four">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Masonry Blog</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div id="masonry-two">
          <div class="masonry-item">
            <img src="./images/04.jpg" alt="m1" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <img src="./images/06.jpg" alt="m2" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Stay Home Safe for World. Image created by Dzana Serdarevic</h2>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <img src="./images/07.jpg" alt="m3" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Physical distancing. Image created by Samuel Rodriguez.</h2>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <img src="./images/08.jpg" alt="m4" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <img src="./images/02.jpg" alt="m5" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
              </a>
            </div>
          </div>
          <div class="masonry-item">
            <img src="./images/03.jpg" alt="m6" class="masonry-img">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>