<div class="page" data-name="page-blog-five">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">List Blog</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="blog-list-wrapper">
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/09.jpg" alt="bl1">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/10.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top">
                <a href="/single/">This piece is about turning a negative into positive.</a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/11.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top">
                <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>