<div class="page page-blog-two">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Blog Classic Grid</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="big-list-post">
          
          <div class="big-list-single-post">
            <img src="./images/16.jpg" alt="bp1">
            <div class="margin-top">
              <div class="newsman-badge">
                <a href="#" class="badge color-red text-color-white">Health news</a>
              </div>
              <h3><a href="/single/">Tricks to Get Things Done Faster, Better, and More Easily</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            </div>
          </div>
          
          <div class="big-list-single-post">
            <img src="./images/15.jpg" alt="bp1">
            <div class="margin-top">
              <div class="newsman-badge">
                <a href="#" class="badge color-red text-color-white">Health news</a>
              </div>
              <h3><a href="/single/">Tricks to Get Things Done Faster, Better, and More Easily</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            </div>
          </div>
          
          
          <div class="big-list-single-post">
            <img src="./images/14.jpg" alt="bp14">
            <div class="margin-top">
              <div class="newsman-badge">
                <a href="#" class="badge color-red text-color-white">Health news</a>
              </div>
              <h3><a href="/single/">Tricks to Get Things Done Faster, Better, and More Easily</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            </div>
          </div>
          
          
          <div class="big-list-single-post">
            <img src="./images/20.jpg" alt="bp15">
            <div class="margin-top">
              <div class="newsman-badge">
                <a href="#" class="badge color-red text-color-white">Health news</a>
              </div>
              <h3><a href="/single/">Tricks to Get Things Done Faster, Better, and More Easily</a></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>