<div class="page element3">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title title-navbar-transparent">Elements</div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Element 3</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">subtitle Here</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="masonry-item masonry-item-single-element">
          <img src="./images/03.jpg" alt="m6" class="masonry-img">
          <div class="post-title">
            <a href="/single/">
              <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>