<div class="page element1">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title title-navbar-transparent">Elements</div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Element 8</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">subtitle Here</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="blog-list display-flex align-items-start">
          <div class="blog-list-img newsman-object-fit">
            <img src="./images/09.jpg" alt="bl1">
          </div>
          <div class="blog-list-infos margin-left">
            <div class="newsman-badge">
              <a href="#" class="badge color-purple text-color-white">Health news</a>
            </div>
            <h2 class="margin-bottom-half"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
            <span>Sience . 26 May, 2020</span>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>