<div class="page element1">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title title-navbar-transparent">Elements</div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Element 1</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">subtitle Here</div>
        </div>
      </div>
      <div class="newsman-block-content no-border">
        
        <div class="post-full-bg">
          <div class="post-author display-flex align-items-center">
            <div class="post-author-img bg-color-orange newsman-object-fit">
              <img src="./images/user1.png" alt="user1">
            </div>
            <div class="post-author-infos margin-left-half">
              <span class="post-author-name display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
              <span class="post-author-extra newsman-opacity">San francisco</span>
            </div>
          </div>
          <div class="post-content margin-top display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
            <img src="./images/01.jpg" alt="1">
            <div class="post-title">
              <a href="/single/">
                <h2 class="no-margin-bottom">Refreshing Spring Fashion Trends You Can Wear</h2>
              </a>
            </div>
          </div>
          <div class="fab fab-right-top color-yellow">
            <a href="#">
              <i data-feather="heart"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>