<div class="page element1">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title title-navbar-transparent">Elements</div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Element 4</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">subtitle Here</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="post-card">
          <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
            <img src="./images/06.jpg" alt="c1">
            <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
          </div>
          <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
            <div class="post-author display-flex align-items-center">
              <div class="post-author-img bg-color-blue newsman-object-fit">
                <img src="./images/user2.png" alt="user2">
              </div>
              <div class="post-author-infos margin-left-half">
                <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                <span class="post-author-extra">San francisco</span>
              </div>
            </div>
            <div class="newsman-badge">
              <a href="#" class="badge color-red text-color-white">Fit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>