<div class="page page-home-third">
  <div class="page-content">

    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="newsman-block">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Search</div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="newsman-search">
          <i data-feather="search"></i>
          <input type="text" placeholder="Search For News" class="input">
        </div>
        <div class="tags display-flex" id="tag_content">
          <!--
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Entertainment</a>
          </div>
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Science</a>
          </div>
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Sport</a>
          </div>
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Art</a>
          </div>
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Fitness</a>
          </div>
          <div class="newsman-badge">
            <a href="#" class="badge bg-color-white text-color-black">Science</a>
          </div>
          -->
        </div>
      </div>
    </div>

    <!-- 
    <div class="newsman-block">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Entertainment</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="blog-list-wrapper">
          <div class="blog-list display-flex align-items-start">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/09.jpg" alt="bl1">
            </div>
            <div class="blog-list-infos margin-left">
              <div class="newsman-badge">
                <a href="#" class="badge color-purple text-color-white">Health news</a>
              </div>
              <h2 class="margin-bottom-half"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/10.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-left">
              <div class="newsman-badge">
                <a href="#" class="badge color-lightblue text-color-white">Health news</a>
              </div>
              <h2 class="margin-bottom-half">
                <a href="/single/">This piece is about turning a negative into positive.</a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/11.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-left">
              <div class="newsman-badge">
                <a href="#" class="badge color-teal text-color-white">Health news</a>
              </div>
              <h2 class="margin-bottom-half">
                <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  -->

    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Berita Crypto</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Baca berita crypto terupdate
          </div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="list-posts-grid" id="berita_grid">
          <!--
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/22.jpg" alt="g1">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/23.jpg" alt="g2">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">This piece is about turning a negative into positive. Long title than ever</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/15.jpg" alt="g3">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">This piece is about turning a negative into positive. Long title than ever</a>
              </h2>
            </div>
          </div>
          
          <div class="post-grid">
            <div class="post-grid-img newsman-object-fit">
              <img src="./images/02.jpg" alt="g4">
            </div>
            <div class="blog-list-infos">
              <span class="display-block padding-top-half">Sience . 26 May, 2020</span>
              <h2 class="margin-top-half">
                <a href="/single/">Corfu is absolutely romantic and calm in the evenings, especially next to the...</a>
              </h2>
            </div>
          </div>
        -->
        </div>
      </div>
    </div>


    <div id="fix-f7">
    </div>


  </div>
</div>