<div class="page page-home-second">
  <div class="page-content">

    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="newsman-block">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Berita Unggulan</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Baca berita unggulan kami
          </div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="list-posts-card">
          <div class="swiper-container">
            <div class="swiper-wrapper" id="slide_unggulan">
              <!--  
              <div class="swiper-slide">
                <div class="post-card">
                  <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
                    <img src="./images/06.jpg" alt="c1">
                    <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
                  </div>
                  <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
                    <div class="post-author display-flex align-items-center">
                      <div class="post-author-img bg-color-blue newsman-object-fit">
                        <img src="./images/user2.png" alt="user2">
                      </div>
                      <div class="post-author-infos margin-left-half">
                        <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                        <span class="post-author-extra">San francisco</span>
                      </div>
                    </div>
                    <div class="newsman-badge">
                      <a href="#" class="badge color-red text-color-white">Fit</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="swiper-slide">
                <div class="post-card">
                  <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
                    <img src="./images/07.jpg" alt="c2">
                    <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
                  </div>
                  <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
                    <div class="post-author display-flex align-items-center">
                      <div class="post-author-img bg-color-orange newsman-object-fit">
                        <img src="./images/user3.png" alt="user3">
                      </div>
                      <div class="post-author-infos margin-left-half">
                        <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                        <span class="post-author-extra">San francisco</span>
                      </div>
                    </div>
                    <div class="newsman-badge">
                      <a href="#" class="badge color-teal text-color-white">Sport</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="swiper-slide">
                <div class="post-card">
                  <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
                    <img src="./images/08.jpg" alt="c3">
                    <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
                  </div>
                  <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
                    <div class="post-author display-flex align-items-center">
                      <div class="post-author-img bg-color-green newsman-object-fit">
                        <img src="./images/user4.png" alt="user4">
                      </div>
                      <div class="post-author-infos margin-left-half">
                        <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                        <span class="post-author-extra">San francisco</span>
                      </div>
                    </div>
                    <div class="newsman-badge">
                      <a href="#" class="badge color-lightblue text-color-white">Art</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="swiper-slide">
                <div class="post-card">
                  <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
                    <img src="./images/09.jpg" alt="c4">
                    <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
                  </div>
                  <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
                    <div class="post-author display-flex align-items-center">
                      <div class="post-author-img bg-color-purple newsman-object-fit">
                        <img src="./images/user5.png" alt="user5">
                      </div>
                      <div class="post-author-infos margin-left-half">
                        <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                        <span class="post-author-extra">San francisco</span>
                      </div>
                    </div>
                    <div class="newsman-badge">
                      <a href="#" class="badge color-red text-color-white">Sport</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="swiper-slide">
                <div class="post-card">
                  <div class="post-card-img display-flex flex-direction-column justify-content-flex-end newsman-object-fit">
                    <img src="./images/10.jpg" alt="c10">
                    <h3><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h3>
                  </div>
                  <div class="post-card-footer bg-color-white padding display-flex align-items-center justify-content-space-between">
                    <div class="post-author display-flex align-items-center">
                      <div class="post-author-img bg-color-pink newsman-object-fit">
                        <img src="./images/user6.png" alt="user6">
                      </div>
                      <div class="post-author-infos margin-left-half">
                        <span class="post-author-name color-black display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                        <span class="post-author-extra">San francisco</span>
                      </div>
                    </div>
                    <div class="newsman-badge">
                      <a href="#" class="badge color-blue text-color-white">Health</a>
                    </div>
                  </div>
                </div>
              </div>
            -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="newsman-block">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Berita Menarik Lainnya</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Temukan berbagai berita untuk
            anda</div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="big-list-post">
          <div id="big_content">

          </div>

          <div class="blog-list-wrapper margin-top padding-top" id="berita_lain">
            <!--
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/09.jpg" alt="bl1">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-purple text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/10.jpg" alt="bl2">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-lightblue text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/">This piece is about turning a negative into positive.</a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
              
              <div class="blog-list display-flex align-items-start">
                <div class="blog-list-img newsman-object-fit">
                  <img src="./images/11.jpg" alt="bl2">
                </div>
                <div class="blog-list-infos margin-left">
                  <div class="newsman-badge">
                    <a href="#" class="badge color-teal text-color-white">Health news</a>
                  </div>
                  <h2 class="margin-bottom-half">
                    <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
                  </h2>
                  <span>Sience . 26 May, 2020</span>
                </div>
              </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="fix-f7">
  </div>

</div>
</div>