<div class="page" data-name="page-pages">
  <div class="page-content">
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only newsman-notification">
            <i data-feather="bell"></i>
            <span class="badge color-red">6</span>
          </a>
        </div>
        <div class="right">
          <a class="link icon-only">
            <i data-feather="search"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">List Of Pages</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Check our all pages</div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="list">
        <ul>
          <li>
            <a href="/" class="item-link item-content">
              <div class="item-media"><i data-feather="home"></i></div>
              <div class="item-inner">
                <div class="item-title">Homepage One</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/home/" class="item-link item-content">
              <div class="item-media"><i data-feather="grid"></i></div>
              <div class="item-inner">
                <div class="item-title">Homepage Two</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/homethird/" class="item-link item-content">
              <div class="item-media"><i data-feather="star"></i></div>
              <div class="item-inner">
                <div class="item-title">Homepage Three</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/profile/" class="item-link item-content">
              <div class="item-media"><i data-feather="user"></i></div>
              <div class="item-inner">
                <div class="item-title">Profile</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/notfound/" class="item-link item-content">
              <div class="item-media"><i data-feather="alert-circle"></i></div>
              <div class="item-inner">
                <div class="item-title">404 page</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/single/:id/" class="item-link item-content">
              <div class="item-media"><i data-feather="book"></i></div>
              <div class="item-inner">
                <div class="item-title">Single page</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogone/" class="item-link item-content">
              <div class="item-media"><i data-feather="book-open"></i></div>
              <div class="item-inner">
                <div class="item-title">Blog classic grid</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogtwo/" class="item-link item-content">
              <div class="item-media"><i data-feather="star"></i></div>
              <div class="item-inner">
                <div class="item-title">Classic blog</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogthree/" class="item-link item-content">
              <div class="item-media"><i data-feather="grid"></i></div>
              <div class="item-inner">
                <div class="item-title">Grid blog</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogfour/" class="item-link item-content">
              <div class="item-media"><i data-feather="book"></i></div>
              <div class="item-inner">
                <div class="item-title">Masonry blog</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogfive/" class="item-link item-content">
              <div class="item-media"><i data-feather="book"></i></div>
              <div class="item-inner">
                <div class="item-title">List blog</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blogsix/" class="item-link item-content">
              <div class="item-media"><i data-feather="grid"></i></div>
              <div class="item-inner">
                <div class="item-title">List blog w/ Categories</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="block-title">List Of Element</div>
      <div class="list">
        <ul>
          <li>
            <a href="/element1/" class="item-link item-content">
              <div class="item-media"><i data-feather="home"></i></div>
              <div class="item-inner">
                <div class="item-title">Elemen Full BG</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/element2/" class="item-link item-content">
              <div class="item-media"><i data-feather="grid"></i></div>
              <div class="item-inner">
                <div class="item-title">Element List reverse</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/element3/" class="item-link item-content">
              <div class="item-media"><i data-feather="star"></i></div>
              <div class="item-inner">
                <div class="item-title">Element Full BG 2</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/element4/" class="item-link item-content">
              <div class="item-media"><i data-feather="user"></i></div>
              <div class="item-inner">
                <div class="item-title">Element Card</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/element5/" class="item-link item-content">
              <div class="item-media"><i data-feather="alert-circle"></i></div>
              <div class="item-inner">
                <div class="item-title">Element Grid</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/element6/" class="item-link item-content">
              <div class="item-media"><i data-feather="book"></i></div>
              <div class="item-inner">
                <div class="item-title">Element List</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>