<div class="page page-profile">
  <div class="page-content">
    <div class="profile-page-gradient">
    </div>
    
    <div class="navbar navbar-transparent">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title title-navbar-transparent">Profile</div>
      </div>
    </div>
    <div class="newsman-block no-margin">
      <div class="newsman-block-content">
        <div class="profile">
          <div class="post-author-img bg-color-teal newsman-object-fit profile-img">
            <img src="./images/user2.png" alt="user2">
          </div>
          <h2>Flora Elric</h2>
          <div class="row">
            <button class="col display-inline-block button button-outline button-round padding-left padding-right">Edit Profile</button>
          </div>
          <div class="profile-info display-flex justify-content-space-around margin-top padding-top">
            <div class="">
              <span class="number">25</span>
              <span class="number-sub">Stories</span>
            </div>
            <div class="">
              <span class="number">50K</span>
              <span class="number-sub">Followers</span>
            </div>
            <div class="">
              <span class="number">1K</span>
              <span class="number-sub">Following</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="newsman-block">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Your Friends</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Some subtitle here</div>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="list-friends">
          <div class="display-flex align-items-center justify-content-space-between">
            <div class="post-author display-flex align-items-center">
              <div class="post-author-img bg-color-orange newsman-object-fit">
                <img src="./images/user3.png" alt="user3">
              </div>
              <div class="post-author-infos margin-left-half">
                <span class="post-author-name display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                <span class="post-author-extra">San francisco</span>
              </div>
            </div>
            <div class="newsman-badge">
              <a href="#" class="badge color-yellow text-color-black">Remove</a>
            </div>
          </div>
          <div class="display-flex align-items-center justify-content-space-between">
            <div class="post-author display-flex align-items-center">
              <div class="post-author-img bg-color-teal newsman-object-fit">
                <img src="./images/user4.png" alt="user4">
              </div>
              <div class="post-author-infos margin-left-half">
                <span class="post-author-name display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                <span class="post-author-extra">San francisco</span>
              </div>
            </div>
            <div class="newsman-badge">
              <a href="#" class="badge color-yellow text-color-black">Remove</a>
            </div>
          </div>
          <div class="display-flex align-items-center justify-content-space-between">
            <div class="post-author display-flex align-items-center">
              <div class="post-author-img bg-color-lightblue newsman-object-fit">
                <img src="./images/user5.png" alt="user5">
              </div>
              <div class="post-author-infos margin-left-half">
                <span class="post-author-name display-block text-semibold"><a href="/profile/">Mike Fox</a></span>
                <span class="post-author-extra">San francisco</span>
              </div>
            </div>
            <div class="newsman-badge">
              <a href="#" class="badge color-yellow text-color-black">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="newsman-block no-border">
      <div class="newsman-block-title display-flex align-items-center justify-content-space-between">
        <div>
          <div class="block-title-medium no-margin block-title text-semibold">Your Stories</div>
          <div class="newsman-opacity block-title no-margin newsman-block-subtitle">Read trending news</div>
        </div>
        <div class="newsman-badge">
          <a href="#" class="badge bg-color-white text-color-black">SEE ALL</a>
        </div>
      </div>
      <div class="newsman-block-content">
        <div class="blog-list-wrapper">
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/09.jpg" alt="bl1">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top"><a href="/single/">Physical distancing. Image created by Samuel Rodriguez.</a></h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/10.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top">
                <a href="/single/">This piece is about turning a negative into positive.</a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
          <div class="blog-list display-flex align-items-start flex-direction-row-reverse">
            <div class="blog-list-img newsman-object-fit">
              <img src="./images/11.jpg" alt="bl2">
            </div>
            <div class="blog-list-infos margin-right margin-top">
              <h2 class="margin-bottom-half no-margin-top">
                <a href="/single/"> Stay Home Safe for World. Image created by Dzana Serdarevic </a>
              </h2>
              <span>Sience . 26 May, 2020</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div id="fix-f7">
    </div>
    
    
  </div>
</div>